:root {
  --yelow: #FBF138;
  --dark: #2B3541;

  --montserrat: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1143px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  align-items: center;
  gap: 92px;
  padding-top: 52px;
  padding-bottom: 27px;
}

.logo {
  display: block;
  height: 30px;
  width: 97px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.nav {
  flex-grow: 1;
  display: flex;
  gap: 54px;
}

.nav-link {
  color: var(--dark);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.nav-link:hover {
  color: var(--yelow);
  transition: 0.2s;
}

.mail {
display: flex;
align-items: center;
text-decoration: none;
color: var(--dark);
font-size: 16px;
font-weight: 700;
font-family: var(--montserrat);
}

.circle {
  height: 25px;
  width: 25px;
  background-color: var(--yelow);
  border-radius: 100%;
  position: relative;
  right: 155px;
  z-index: -1;
  box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.3);
}

.hero {
  display:flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.hero-text {
  flex-basis: 60%;
}

.hero-text h1 {
  width: 632px;
  height: 122px;
  color: var(--dark);
  font-family: var(--montserrat);
  font-size: clamp(26px, 4.5vw,48px);
}

.hero-discription {
  font-size: 40px;
  font-weight: 400;
  font-family: var(--montserrat);
  color: var(--dark);
}

.addittionaly {
  font-size: 18px;
  font-family: var(--montserrat);
  font-weight: 400;
  padding-left: 91px;
  color: var(--dark);
}

.button {
  font-size: 16px;
  font-weight: 700;
  font-family: var(--montserrat);
  color: var(--dark);
  text-transform: uppercase;
  width: 252px;
  height: 64px;
  background-color: var(--yelow);
  box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.3);
  border: none;
  transition: 0.2s;
}

.button:hover {
  background-color: rgb(15, 240, 101)
}

.hero-bg {
  height: clamp(493px, 50vw, 852px);
  flex-basis: calc(40% - 20px);
  background: linear-gradient(90.00deg, rgb(251, 241, 56),rgba(253, 249, 182, 0.45) 145.234%);
  opacity: 0.2;
}

.hero img {
  position: absolute;
  right: -10vw;
  bottom: 0;
  width: clamp(399px, 50vw, 996px);
}

.circle-button {
  align-items: center;
  width: 53px;
  height: 53px;
  border: 3px solid var(--dark);
  border-radius: 100%;
  display: flex;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  justify-content: center;
}

.arrow {
  width: 21px;
  height: 13px;
  background-image: url(../images/arrow.svg);
}

.date-info {
  padding-top: 158px;
  display: flex;
  justify-content: space-between;
}

.info {
  font-family: var(--montserrat);
  font-size: 40px;
  font-family: 700;
  color: var(--dark);
}

.date {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 28px;
  color: var(--dark);
}



@media (max-width: 1500px) {
  .hero img {
      position: absolute;
      right: -2vw;
  }
}

@media (max-width: 1220px) {
  .hero img {
      position: absolute;
      right: 5px;
  }
}

.grid {
  padding-top: 38px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 309px 73px 281px;
  grid-template-areas: "a b c" "d b f" "d e f";
  gap: 20px;
}

.item {
  position: relative;
  border: 1px solid rgba(43, 53, 65, 0.39);
  transition: 0.3s;
}

.item:hover {
  box-shadow: 0px 13px 30px 0px rgba(186, 180, 69, 0.2);
  background: linear-gradient(180.00deg, rgb(251, 241, 56),rgba(253, 249, 182, 0.45) 100%);
  opacity: 0.7;
  border: 0px;
}

.time-date {
  text-align: right;
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 18px;
  opacity: 0.8;
  padding-right: 30px;
}

.body-icon {
  position: absolute;
  left: 30px;
  bottom: 83px;
}

.discription-trening {
  font-family: var(--montserrat);
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
  position: absolute;
  left: 30px;
  bottom: 20px;
}

.item:nth-child(1) {
  grid-area: a;
}

.item:nth-child(2) {
  grid-area: b;
}

.item:nth-child(3) {
  grid-area: c;
}

.item:nth-child(4) {
  grid-area: d;
}

.item:nth-child(5) {
  grid-area: e;
}

.item:nth-child(6) {
  grid-area: f;
}

@media (max-width: 1000px) {
  .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 224);
      grid-template-areas:  "a b " "c b " "e f";
  }
}

.form {
  max-width: 620px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.form {
  display: flex;
}

.form > div {
  flex-basis: calc(100% - 255px - 20px);
}

.form {
  width: 100%;
}

.form button {
  flex-basis: 255px;
}

.checkbox:checked,
.checkbox:not(:checked){
  position: absolute;
  left: -9999px;
}

.checkbox:checked,
.checkbox:not(:checked) + label{
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox:checked + label::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top:calc(50%-10px);
  background-color: #2B3541;
  border-radius: 2px;
  border: 2px solid #2B3541;
}

.checkbox:checked + label::after{
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all .2s ease;
  opacity: 1;
  left: 4px;
  top: calc(50%-6px);
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/checkbox.svg);

}

.checkbox:not(:checked + label::before){
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: calc(50%-10px);
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #2B3541;
}

.checkbox:not(:checked) + label::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top:calc(50%-10px);
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #2B3541;
}

.checkbox:not(:checked + label::after){
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all .2s ease;
  opacity: 0;
  left: 4px;
  top: calc(50%-6px);
  background-position: 0 -12px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #2B3541;
}

.checkbox:not(:checked + label::after){
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all .2s ease;
  opacity: 0;
  left: 4px;
  top: calc(50%-6px);
  background-position: 0 -12px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #2B3541;
}

.checkbox:not(:checked + label::after){
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  transition: all .2s ease;
  opacity: 0;
  left: 4px;
  top: calc(50%-6px);
  background-position: 0 -12px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/checkbox.svg);
}



.aside-container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  height: 348px;
  width: 1920px;
  margin-top: 162px;
  background-color: rgb(243, 243, 243);
}

.subscribe {
  display: flex;
  justify-content: center;
  color: var(--dark);
  font-size: 40px;
  font-weight: 700;
  font-family: var(--montserrat);
  padding-top: 80px;
  }
  

.crcl {
  height: 53px;
  width: 53px;
  background-color: var(--yelow);
  border-radius: 100%;
  position: relative;
  right: 616px;
  top: -18px;
  z-index: 2;
  box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.3);
}

.emailaside {
  border: none;
  width: 372px;
  height: 65px;
  padding-left: 19px;
  font-family: var(--montserrat);
  font-size: 18px;
  font-weight: 400;
  color: rgb(43, 53, 65);
  opacity: 0.5;
}

.btnftr {
  width: 225px;
  height: 65px;
  background-color: var(--yelow);
  border: none;
  font-size: 16px;
  font-weight: 700;
  font-family: var(--montserrat);
  color: var(--dark);
  transition: 0.3s;
  text-transform: uppercase;
}

.btnftr:hover {
  background-color: rgb(15, 240, 101)
}

.checkbox{
  
}

.confirm_txt {
  top: 14px;
  font-family: var(--montserrat);
  font-size: 11px;
  text-decoration: none;
  color: rgb(43, 53, 65);
  opacity: 0.8;
}

.confirm_txt_two {
  font-family: var(--montserrat);
  font-size: 11px;
  color: rgb(43, 53, 65);
}

.company {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 40px;
  color: var(--dark);
}

.company_info {
  display: block;
  margin-top: 19px;
  width: 35%;
  font-family: var(--montserrat);
  color: var(--dark);
  font-size: 18px;
  font-weight: 400;
}

.btn_footer {
  width: 225px;
  height: 65px;
  background-color: var(--yelow);
  border: none;
  text-transform: uppercase;
  font-family: var(--montserrat);
  font-size: 16px;
  font-weight: 700;
  transition: 0.3s;
  margin-top: 34px;
}

.btn_footer:hover {
  background-color: rgb(15, 240, 101);
}

.footer_container{
  width: 1142px;
  height: 513px;
  padding-top: 158px;
  width: 100%;
  max-width: 1143px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.footer_img {
position: absolute;
right: 0px;
}

.info_comp {
  margin: 0 auto;
  font-size: 40px;
  font-family: var(--montserrat);
  color: var(--dark);
}

.discription-company {
  display: block;
  margin-right: 650px;
  font-family: var(--montserrat);
  color: var(--dark);
  font-size: 18px;
  padding-bottom: 34px;
}

.company_btn {
  width: 225px;
  height: 65px;
  text-transform: uppercase;
  background-color: var(--yelow);
  border: none;
  top: 369px;
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 16px;
}

.company_btn:hover {
  background-color: rgb(15, 240, 101);
}

.info_discription {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  gap: 82px;
  padding-left: 0px;
}

.dscrpt_info {
  font-family: var(--montserrat);
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
  list-style-type: none;
}

.txt {
  font-family: var(--montserrat);
  color: var(--dark);
  font-size: 18px;
  font-weight: 400;
  opacity: 0.5;
}

.ftr-container {
  margin: 0 auto;
  height: 149px;
  width: 1920px;
  margin-top: 170px;
  background-color: rgb(243, 243, 243);
}

.container-ftr {
  max-width: 1143px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-header {
  display: flex;
  align-items: center;
  gap: 92px;
  padding-top: 52px;
  padding-bottom: 27px;
}

.footer-logo {
  display: block;
  height: 30px;
  width: 97px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-nav {
  flex-grow: 1;
  display: flex;
  gap: 90px;
}

.footer-nav-link {
  color: var(--dark);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.footer-nav-link:hover {
  color: var(--yelow);
  transition: 0.2s;
}

.footer-mail {
display: flex;
align-items: center;
text-decoration: none;
color: var(--dark);
font-size: 16px;
font-weight: 700;
font-family: var(--montserrat);
}

.footer-circle {
  height: 25px;
  width: 25px;
  background-color: var(--yelow);
  border-radius: 100%;
  position: relative;
  right: 155px;
  z-index: -1;
  box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.3);
}