a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1434px;
    padding-left: 388px;
    padding-right: 388px;

}

.logo {
    width: 97px;
    height: 30px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.header-wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-top: 50px;
    padding-bottom: 27px;

}

.nav {
    display: flex;
    gap: 55px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
}

.nav-link {
    color: rgb(43, 53, 65);
}

.mail {
color: rgb(43, 53, 65);
font-family: Montserrat;
font-size: 16px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
padding-left: 340px;
}