:root {
  --yelow: #FBF138;
  --dark: #2B3541;

  --montserrat: "Montserrat", sans-serif;
}

/* Header */

.container {
  width: 100%;
  max-width: 1143px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  display: flex;
  align-items: center;
  gap: 92px;
  padding-top: 52px;
  padding-bottom: 27px;
}

.logo {
  display: block;
  height: 30px;
  width: 97px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.burger-menu {
  display: none;
  width: 29px;
  height: 22px;
  background-image: url(../images/burger\ menu.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
}

.nav {
  flex-grow: 1;
  display: flex;
  gap: 54px;
}

.nav-link {
  color: var(--dark);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

.nav-link:hover {
  color: var(--yelow);
  transition: 0.2s;
}

.mail {
display: flex;
align-items: center;
text-decoration: none;
color: var(--dark);
font-size: 16px;
font-weight: 700;
font-family: var(--montserrat);
}

.circle {
  height: 25px;
  width: 25px;
  background-color: var(--yelow);
  border-radius: 100%;
  position: relative;
  right: 155px;
  z-index: -1;
  box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.3);
}

/* Main */

.hero {
  display:flex;
  align-items: center;
  gap: 20px;
  position: relative;
}

.hero-text {
  flex-basis: 60%;
}

.hero-text h1 {
  width: 632px;
  height: 122px;
  color: var(--dark);
  font-family: var(--montserrat);
  font-size: clamp(26px, 4.5vw,48px);
  text-transform: uppercase;
}

.hero-discription {
  font-size: 40px;
  font-weight: 400;
  font-family: var(--montserrat);
  color: var(--dark);
}

.addittionaly {
  font-size: 18px;
  font-family: var(--montserrat);
  font-weight: 400;
  padding-left: 91px;
  color: var(--dark);
}

.button {
  font-size: 16px;
  font-weight: 700;
  font-family: var(--montserrat);
  color: var(--dark);
  text-transform: uppercase;
  width: 252px;
  height: 64px;
  background-color: var(--yelow);
  box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.3);
  border: none;
  transition: 0.2s;
}

.button:hover {
  background-color: rgb(15, 240, 101);
}

.hero-bg {
  height: clamp(493px, 50vw, 852px);
  flex-basis: calc(40% - 20px);
  background: linear-gradient(90.00deg, rgb(251, 241, 56),rgba(253, 249, 182, 0.45) 145.234%);
  opacity: 0.2;
}

.hero img {
  position: absolute;
  right: -10vw;
  bottom: 0;
  width: clamp(399px, 50vw, 996px);
}

.circle-button {
  align-items: center;
  width: 53px;
  height: 53px;
  border: 3px solid var(--dark);
  border-radius: 100%;
  display: flex;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  justify-content: center;
}

.arrow {
  width: 21px;
  height: 13px;
  background-image: url(../images/arrow.svg);
}

.date-info {
  padding-top: 158px;
  display: flex;
  justify-content: space-between;
}

.info {
  font-family: var(--montserrat);
  font-size: 40px;
  font-family: 700;
  color: var(--dark);
}

.date {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 28px;
  color: var(--dark);
}

.grid {
  padding-top: 38px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 309px 73px 281px;
  grid-template-areas: "a b c" "d b f" "d e f";
  gap: 20px;
}

.item {
  position: relative;
  border: 1px solid rgba(43, 53, 65, 0.39);
  transition: 0.3s;
}

.item:hover {
  box-shadow: 0px 13px 30px 0px rgba(186, 180, 69, 0.2);
  background: linear-gradient(180.00deg, rgb(251, 241, 56),rgba(253, 249, 182, 0.45) 100%);
  opacity: 0.7;
  border: 0px;
}

.time-date {
  text-align: right;
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 18px;
  opacity: 0.8;
  padding-right: 30px;
}

.body-icon {
  position: absolute;
  left: 30px;
  bottom: 83px;
}

.discription-trening {
  font-family: var(--montserrat);
  font-size: 18px;
  font-weight: 700;
  color: var(--dark);
  position: absolute;
  left: 30px;
  bottom: 20px;
}

.item:nth-child(1) {
  grid-area: a;
}

.item:nth-child(2) {
  grid-area: b;
}

.item:nth-child(3) {
  grid-area: c;
}

.item:nth-child(4) {
  grid-area: d;
}

.item:nth-child(5) {
  grid-area: e;
}

.item:nth-child(6) {
  grid-area: f;
}

.subscire {
  margin-top: 168px;
  height: 348px;
  background-color: rgb(243, 243, 243);
}

.subscire_text {
  text-align: center;
  padding-top: 80px;
  color: var(--dark);
  font-family: var(--montserrat);
  position: relative;
  font-weight: 700;
  font-size: 40px;
  z-index: 9999;
}

.circle_section {
  height: 53px;
  width: 53px;
  background-color: var(--yelow);
  position: absolute;
  border-radius: 100%;
  top: 62px;
  left: 249px;
  z-index: -1;
}

.form {
  margin: 0 auto;
display: flex;
gap: 20px;
max-width: 620px;
}
.form > div {
  flex-basis: calc(100% - 255px - 20px);
}
.form {
 width: 100%;
}
.button_sub {
  flex-basis: 255px;
  width: 225px;
  height: 65px;
  background-color: var(--yelow);
  border: none;
  font-family: var(--montserrat);
  font-size: 16px;
  font-weight: 700;
  background: rgb(251, 241, 56);
  color: var(--dark);
  transition: 0.3s;
}
.button_sub:hover {
  background-color: rgb(15, 240, 101);
}

.checkbox:checked + label,
.checkbox:not(:checked) + label{
  position: relative;
  padding-left: 2px;
  cursor: pointer;
}

.input_email {
  height: 65px;
  width: 372px;
  border: 0px;
  padding-left: 19px;
  opacity: 0.5;
  background-color: rgb(255, 255, 255);
}

.confirm_data {
  font-family: var(--montserrat);
  text-decoration: none;
  color: #2B3541;
  font-size: 11px;
  font-weight: 400;
  opacity: 0.5;
}

.confirm_data_personal {
  font-family: var(--montserrat);
  text-decoration: none;
  color: #2B3541;
  font-size: 11px;
  font-weight: 400;
}

.sign-up-btn:hover {
  background-color: rgb(15, 240, 101);
  transition: 0.3s;
  margin-top: 34px;
}

.description-company {
  max-width: 483px;
}

.company-text {
  font-family: var(--montserrat);
  font-weight: 700;
  font-size: 40px;
  color: var(--dark);
  margin: 0 auto;
}

.company-info {
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 18px;
  color: var(--dark);
  margin: 0 auto;
  padding-top: 19px;
}

.sign-up-btn {
  width: 225px;
  height: 65px;
  background-color: var(--yelow);
  text-transform: uppercase;
  color: var(--dark);
  font-size: 16px;
  font-family: var(--montserrat);
  font-weight: 700;
  border: none;
  margin-top: 34px;
}

.grl_img_container {
  position: relative;
  overflow: hidden;
  width: 581px;
  height: 336px;
}

.img-girl {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 581px;
  height: 336px;
  object-fit: cover;
}

.info_discription_container {
  padding-top: 140px;
  display: flex;
  justify-content: space-between;
  gap: 67px;
}

.dscrpt_info {
  font-family: var(--montserrat);
  color: var(--dark);
  font-size: 18px;
  font-weight: 700;
}

.txt {
  font-family: var(--montserrat);
  color: var(--dark);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
  opacity: 0.5;
}

.text-artcl {
  display: flex;
  gap: 77px;
  margin-top: 159px;
}

.bg-footer {
  height: 149px;
  margin-top: 169px;
  background-color: rgb(243, 243, 243);
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 72px;
  padding-top: 53px;
}

.logo-footer {
  display: block;
  height: 30px;
  width: 97px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.mail-footer {
display: flex;
align-items: center;
text-decoration: none;
color: var(--dark);
font-size: 16px;
font-weight: 700;
font-family: var(--montserrat);
position: relative;
z-index: 9999;
}

.circle-footer {
  height: 25px;
  width: 25px;
  background-color: var(--yelow);
  border-radius: 100%;
  position: absolute;
  right: 134px;
  z-index: -1;
  box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.3);
}

.nav-footer {
  flex-grow: 1;
  display: flex;
  gap: 54px;
}

.nav-link-footer {
  color: var(--dark);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.nav-link-footer:hover {
  color: var(--yelow);
  transition: 0.2s;
}

.footer-info {
  padding-top: 21px;
  display: flex;
  align-items: center;
  font-family: var(--montserrat);
  font-size: 14px;
  font-weight: 400;
  color: var(--dark);
  opacity: 0.5;
}

.reserved {
  flex-grow: 1;
}

.You-Can-Code {
  font-family: var(--montserrat);
  font-size: 10px;
  color: var(--dark);
  opacity: 0.5;
  display: none;
}
.FB {
  color: var(--dark);
}
.made-in-and {
  display: none;
}
.modal {
  display: none;
}

@media (max-width: 1500px) {
  .hero img {
      position: absolute;
      right: -2vw;
  }
}

@media (max-width: 1220px) {
  .hero img {
      position: absolute;
      right: 5px;
  }
}

@media (max-width: 768px) {
  .grid {
    padding-top: 39px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 224px);
      grid-template-areas:  "a b " "c d " "e f";
  }
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
    flex-grow: 1;
  }

  .header {
    gap: 36px;
  }
  
  .nav {
    display: none;
  }
  
  .hero-text {
    flex-basis: 58%;
    padding-bottom: 34px;
  }

    .hero-text h1 {
    text-transform: uppercase;
    top: 0px;
    position: absolute;
    width: 359px;
    height: 70px;
    font-size: clamp(26px, 3vw,48px);
  } 

  .hero-discription {
    font-size: 26px;
  }

  .addittionaly {
    font-size: 16px;
    padding-left: 0px;
    padding-bottom: 100px;
  }

  .button {
    margin-top: 40px;
    position: absolute;
   }

   .circle-button {
    top: 389px;
    position: absolute;
    width: 40px;
    height: 40px;
  }

  .date-info {
    padding-top: 67px;
    padding-bottom: 0px;
  }

  .nav._modal {
    display: flex;
    gap: 40px;
    position: relative;
    margin-bottom: 49px;
    flex-direction: column;
    position: absolute;
    top: 29px;
  }
  
  .modal-logo {
  display: block;
  height: 24px;
  width: 78px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  }
  .nav-link-modal {
  color: var(--dark);
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  width: 565px;
  border-bottom: 1px solid rgb(43, 53, 65, .2);
  padding-bottom: 19.5px;
  }
  .nav-link-modal:last-child {
    border-bottom: none;
    position: absolute;
    padding-top: 214px;
  }
  .modal {
    display: block;
    padding: 93px 15px;
    background-color: rgb(243, 243, 243);
    position: absolute;
    top: -400px;
    left: 10px;
    width: 100%;
    height: 283px;
    max-width: 587px;
    box-sizing: border-box;
    transition: 0.3s;
    left: 0px;
  }

  .modal-close {
    display: block;
    height: 19px;
    width: 20px;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .subscire {
    margin-top: 97px;
    height: 348px;
    background-color: rgb(243, 243, 243);
  }

  .circle_section {
    left: 52px;
}

  .company-info {
    width: 318px;
    height: 162px;
  }

  .grl_img_container {
    width: 382px;
    height: 358px;
  }

  .text-artcl {
    gap: 38px;
  }

  .info_discription_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 10px;
    padding-top: 62px;
  }
  
  .info_discription {
    padding-right: 100px;
  }
  .bg-footer{
    height: 70px;
    margin-top: 76px;
  }
  .footer-nav {
    padding-top: 20px;
  }
  .nav-link-footer {
    display: none;
  }
  .mail-footer {
    display: none;
  }
  .reserved {
    display: none;
  }
  .made-in {
    display: none;
  }
  .You-Can-Code {
    display: block;
    padding-right: 25px;
  }
}

@media (max-width: 360px) {
  .header {
    padding-top: 32px;
    gap: 38px;
    padding-bottom: 0px;
  }
  .logo {
    height: 24px;
    width: 78px;
  }
  .hero-bg {
    display: none;
  }
  .hero img {
    display: none;
  }
  .hero-text {
    padding-bottom: 0px;
  }
  .hero-text h1 {
    width: 335px;
    height: 66px;
    font-size: 25px;
    padding-top: 63px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .hero-discription {
    padding-top: 168px;
    width: 360px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .addittionaly {
    padding-top: 16px;
  }
  .hero-text p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .button {
    width: 330px;
    height: 65px;
  }
  .circle-button {
    display: none;
  }
  .date-info {
    display: flex;
    align-items: baseline;
  }
  .info {
    font-size: 24px;
  }
  .date {
    font-size: 16px;
  }
  .grid {
    padding-top: 39px;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 105px);
      grid-template-areas: "a" "b" "c" "d" "e" "f";
  }
  .item {
    width: 330px;
    height: 114px;
    position: relative;
    border: 1px solid rgba(43, 53, 65, 0.39);
    transition: 0.3s;
}
.time-date {
  font-size: 14px;
  padding-right: 27px;
}
.body-icon {
  height: 39px;
  width: 39px;
  left: 12px;
  bottom: 41px;
}
.discription-trening {
  left: 12px;
  margin-bottom: 0px;
  margin-top: 29px;
  bottom: 13px;
  font-size: 14px;
}
.subscire {
  margin-top: 76px;
  height: 416px;
  width: 360px;
}
.subscire_text {
  padding-top: 57px;
  font-size: 26px;
  width: 201px;
  padding-left: 65px;
  margin-bottom: 38px;
  margin-top: 0px;
 }
 .circle_section {
  height: 31px;
  width: 31px;
  top: 45px;
}
.form {
  display: flex;
  flex-direction: column;
}
.button_sub {
  width: 330px;
  flex-basis: 65px;
  margin-top: 31px;
}
.input_email {
  height: 65px;
  width: 309px;
  padding-left: 19px;
  left: 15px;
}
.text-artcl {
  margin-top: 76px;
}
.company-text {
  font-size: 26px;
}
.company-info {
  font-size: 16px;
  padding-top: 16px;
  width: 340px;
  height: 117px;
}
.sign-up-btn {
  width: 330px;
  height: 65px;
  font-size: 16px;
  margin-top: 15px;
}
.grl_img_container {
  display: none;
}
.info_discription_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-top: 57px;
}
.dscrpt_info {
  font-size: 16px;
  margin-bottom: 0px;
}
.txt {
  padding-top: 16px;
  font-size: 16px;
  margin-top: 0px;
}
.bg-footer {
  margin-top: 68px;
  width: 360px;
}
.logo-footer {
  max-width: 78px;
  max-height: 25px;
}
.You-Can-Code {
  display: none;
}
.footer-info {
  position: relative;
}
.made-in-and {
  display: block;
  color: var(--dark);
  font-size: 10px;
  font-family: var(--montserrat);
  opacity: 0.5;
}
.fb-container {
  display: flex;
  justify-content: flex-end;
}
.footer-nav {
  margin-right: 29px;
  gap: 40px;
}
.nav-link-modal {
  width: 328px;
  }
}